@use '../core/mixins';

* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

// :where(.wp-block-group.has-background) {
// 	padding: 1.25em var(--wp--custom--spacing--outer);
// 	// @media (min-width: 650px) {
// 	// 	padding: 1.25em 2.375em;
// 	// }
// }

img {
	&[loading="lazy"] {
		opacity: 0;
		transition: opacity 0.2s;
	}
	&.has-loaded {
		opacity: 1;
	}
}

input[type="text"],
input[type="email"],
input[type="number"], 
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"] {
	@include mixins.text-input;
}
input[type="submit"],
button {
	@include mixins.button;
}


// Animation loading
// 
main {
	& > .entry-content {
		& > .wp-block-media-text {
			transition: opacity 0.8s, transform 0.8s;
			&:not(.is-visible) {
				opacity: 0;
				transform: translate3d(0,100px,0);
			}
		}
		& > .wp-block-group {
			& > * {
				&:not(svg) {
					transition: opacity 0.8s, transform 0.8s;
					&:not(.is-visible) {
						opacity: 0;
						transform: translate3d(0,100px,0);
					}
				}
			}
		}
		& > .wp-block-columns {
			& > .wp-block-column {
				& > * {
					transition: opacity 0.8s, transform 0.8s;
					&:not(.is-visible) {
						opacity: 0;
						transform: translate3d(0,100px,0);
					}
				}
				&:not(:nth-child(1)) {
					& > * {
						transition-delay: 0.2s;
					}
				}
			}
		}
	}
	// .wp-block-scm-live-posts {
	// 	.post-card {
	// 		transition: opacity 0.8s, transform 0.8s;
	// 		&:not(.is-visible) {
	// 			opacity: 0.5;
	// 			transform: translate3d(0,100px,0);
	// 		}
	// 	}
	// }
}