.wp-block-template-part {
	&:is(header) {
		position: sticky;
    top: var(--wp-admin--admin-bar--height, 0px);
		margin: 0;
		background: #fff;
		z-index: 9999;
		& > .wp-block-group {
			& > .wp-block-group {
				@media (width < 782px) {
					// --wp--preset--spacing--30: 20px;
					padding: 16px 20px !important;
				}
			}
		}
		.wp-block-image {
			display: block;
			a,
			img {
				display: block;
			}
		}
	}
	&.navigation-modal {
		--nav--icon--color: #fff;
		--nav--height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
		&:not(.block-editor-block-list__block) {
			position: fixed;
			top: var(--wp-admin--admin-bar--height, 0px);
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10000;
			display: none;
			height: var(--nav--height);
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		}
		.nav-open & {
			// transform: translate(0, 0);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		.is-loaded & {
			display: block;
			transition: clip-path 0.3s;
		}
		& > .wp-block-group > .wp-block-group {
			min-height: var(--nav--height);
			@media (width < 782px) {
				justify-content: flex-start;
				gap: 20vw;
			}
			& > .wp-block-group {
					@media (width < 782px) {
						// --wp--preset--spacing--30: 20px;
						padding: 15px 20px 17px !important;
					}
			}
		}
		a {
			text-decoration: none;
		}
		nav.wp-block-navigation {
			font-family: var(--wp--preset--font-family--graphik) !important;
			.wp-block-navigation__container {
				width: 100%;
				@media( width < 782px ) {
					align-items: center;
					gap: 2rem;
				}
				.wp-block-navigation-item {
					.wp-block-navigation-item__content {
						font-size: clamp(3.028125rem, 1.032rem + 6.3875vw, 4.625rem);
						line-height: 1em;
						font-weight: 700;
						@media( hover: hover ) {
							transition: all 0.3s; // cubic-bezier(0.6, -0.28, 0.74, 0.05);
							display: block;
							.wp-block-navigation-item__label {
							}
							&:hover {
								opacity: 0.7;
								.wp-block-navigation-item__label {
									// transform: translate(20px, 0);
								}
							}
						}
					}
				}
			}
		}
		.wp-block-group:has(> .menu-expanded-footer) {
			@media (width < 782px) {
				margin-top: auto;
				margin-bottom: 0;
			}
		}
		.menu-expanded-footer {
			@media (width < 782px ) { 
				padding-bottom: 10px !important;
				p {
					font-size: 0.91375rem;
				}
			}
		}
	}
	&:is(footer) {
		a {
			// text-decoration: none;
			// text-decoration-color: red;
			text-decoration: underline rgba(#212427, 0);
			transition: all 0.3s;
			@media (hover: hover) {
				&:hover {
					// color: var(--wp--preset--color--custom-red);
					text-decoration: underline rgba(#212427, 1);
				}
			}
		}
		p {
			line-height: 1.2em;
			@media (width < 782px ) {
				font-size: 0.928125rem;
			}
		}
		nav a {
			line-height: 1.2em;
			@media (width < 782px ) {
				font-size: 0.928125rem;
			}
		}
		.footer-items-wrapper {
			@media (width < 782px ) {
				& > * { 
					width: 100%;
				}
			}
		}
	}
}

// header {
// 	// & > .wp-block-group {
// 	// 	padding-left: var(--wp--custom--spacing--outer);
// 	// 	padding-right: var(--wp--custom--spacing--outer);
// 	// }
// }



// Navigation break point to 1000px
// @media ( min-width: 1000px ) {
// 	.wp-block-navigation__responsive-container-open:not(.always-shown) {
// 		display: none !important;
// 	}
// 	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
// 		display: block !important;
// 	}
// }
// @media ( min-width: 782px ) {
// 	.wp-block-navigation__responsive-container-open:not(.always-shown) {
// 		display: flex;
// 	}
// 	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
// 		display: none;
// 	}
// }

// footer.wp-block-template-part {
// 	margin-block-start: 0;
// 	& > .wp-block-group {
// 	}
// }