.wp-block-image {
// 	&:not(.alignfull) {
// 		width: calc(var(--max--container-width) - 2*var(--wp--custom--spacing--outer));
// 	}
// 	img {
// 	}
// 	figcaption {
// 	}
	&.center-line,
	&.center-line-inv {
		@media (min-width: 782px) { 
			position: relative;
			&::before {
				content: "";
				width: 10px;
				height: 100%;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, 0);
				background: var(--wp--preset--color--custom-red);
				z-index: 1;
			}
		}
	}
	&.center-line-inv {
		&::before {
			background: #fff;
		}
	}
	&.markscon-logo {
		svg,
		img {
			max-width: 35vw;
			height: auto !important;
		}
	}
	&.markscon-letter {
		img {
			max-width: 7vw;
			aspect-ratio: 1;
			height: auto !important;
		}
	}
	&.navigation-trigger {
		svg {
			max-width: 6vw;
		}
	}
}