.wp-block-buttons {
	.wp-block-button {
		&[class*="has-icon__"] {
			.wp-block-button__link {
				gap: 1.6rem;
				padding-right: 14px;
			}
		}
		.wp-block-button__link {
		}
		&.is-style-outline {
			&:not(.block-editor-block-list__block) {
				.wp-block-button__link {
					position: relative;
					overflow: hidden;
					transition: color 0.2s;
					&::before {
						content: "";
						width: 100%; 
						height: 0;
						position: absolute;
						bottom: 0;
						left: 0;
						background: var(--wp--preset--color--custom-red);
						transition: all 0.2s;
						z-index: -1;
					}
					@media (hover: hover) {
						&:hover {
							color: #fff !important;
							border-color: var(--wp--preset--color--custom-red);
							&::before {
								height: 100%;
							}
						}
						&.has-text-color {
							&.has-custom-charcoal-color {
								&::before {
									background-color: var(--wp--preset--color--custom-charcoal);
								}
								&:hover {
									border-color: var(--wp--preset--color--custom-charcoal);
								}
							}
							&.has-custom-grey-color {
								&::before {
									background-color: var(--wp--preset--color--custom-grey);
								}
								&:hover {
									border-color: var(--wp--preset--color--custom-grey);
								}
							}
							&.has-white-color {
								&::before {
									background-color: var(--wp--preset--color--white);
								}
								&:hover {
									border-color: var(--wp--preset--color--white);
									color: var(--wp--preset--color--custom-red) !important;
								}
							}
						}
					}
				}
			}
		}
		&.is-style-minimal {
			.wp-block-button__link {
				background: transparent;
				border: 0 none;
				padding: 0;
				text-transform: none;
				font-family: var(--wp--preset--font-family--basel-grotesk);
				font-weight: 200;
				gap: 10px;
				text-decoration: underline;
				text-underline-offset: 2px;
			}
		}
	}
}