.wp-block-table {
	table {
		td {
			font-size: 0.9rem;
			font-weight: 300;
			border: 0 none;
			border-bottom: 0.03125rem solid;
			padding: 5px 5px;
			text-align: left;
			strong {
				font-weight: 500;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	// &.is-style-project {
	// 	table {
	// 		tr {
	// 			td {
	// 				&:first-child {
						
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}