.wp-block-gallery {
	&.is-style-slider-gallery {
		display: block;
		// @media (min-width: 600px) {
		&.has-nested-images.columns-default {
			figure.wp-block-image:not(#individual-image) {
				width: auto;
				height: 340px;
				display: inline-block;
				max-width: none !important;
				img {
					width: auto;
					height: 340px;
					display: block;
					max-width: none !important;
				}
			}
		}
		&.block-editor-block-list__block:not(.is-selected):not(.has-child-selected) {
			display: flex;
			flex-wrap: nowrap;
			overflow: hidden;
			gap: 12px;
		}
		// }
	}	
	&.is-style-slider-gallery-lg {
		flex-wrap: nowrap;
		// display: block;
		// @media (min-width: 600px) {
		&.has-nested-images.columns-default {
			figure.wp-block-image:not(#individual-image) {
				width: calc(100vw - (2 * var(--wp--style--root--padding-right)));
				aspect-ratio: 2;
				height: auto !important;
				object-fit: cover;
				// height: 340px;
				// display: inline-block;
				// max-width: none !important;
				@media (width < 600px) {
					aspect-ratio: 1.4;
				}
				img {
					width: 100%;
					height: 100%;
					opacity: 1;
					/* display: block; */
					/* max-width: none !important; */
					object-fit: cover;
					@media (width < 600px) {
						
					}
					// width: calc(100vw - (2 * var(--wp--style--root--padding-right)));
					// aspect-ratio: 2;
					// height: auto !important;
					// display: block;
					// max-width: none !important;
				}
			}
		}
		&.block-editor-block-list__block:not(.is-selected):not(.has-child-selected) {
			// display: flex;
			// flex-wrap: nowrap;
			// overflow: hidden;
			// gap: 12px;
			& > figure {
				width: 100% !important;
				&:not(:first-child) {
					display: none;
				}
			}
		}
		
		// }
	}	
}

.wp-block-group.alignfull {
	&:has(> .tns-outer .is-style-slider-gallery) {
		overflow: hidden;
		.tns-outer,
		.tns-ovh {
			overflow: visible;
		}
	}
}
.tns-outer:has(.is-style-slider-gallery-lg) {	
	.counter {
		top: 12px;
		right: 20px;
		bottom: auto;
		background: rgba(255, 255, 255, 0.4);
		padding: 2px 10px;
		border-radius: 20px;
		text-align: center;
		@media (min-width: 782px) { 
			top: 22px;
			right: 26px;
			padding: 2px 12px;
			min-width: 58px;
		}
	}
	@media (min-width: 782px) { 
		.tns-nav {
			display: none;
		}
	}	
}

.tns-outer > button {
	display: none;
}

.tns-nav {
	display: flex;
	margin: 2rem 0;
	& > * {
		flex: 1 1;
		border: 0 none;
		background: var(--wp--preset--color--custom-red);
		height: 1px;
		padding: 0;
		&.tns-nav-active {
			& ~ * {
				background: #d2d2d2;
			}
		}
	}
}

.tns-outer {
	.counter {
		font-family: var(--wp--preset--font-family--graphik);
		font-size: 0.6rem;
		position: absolute;
		right: var(--wp--style--root--padding-right);
		bottom: 39px;
		letter-spacing: 0.3em;
		font-weight: 100;
	}
}