@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.wp-block-scm-live-query {
	border: 0 none;
	.wp-block-scm-live-filters {
		margin-bottom: clamp(1.5rem, -1rem + 8vw, 3.5rem);
		.filter-group {
			.posts-results {
				display: none;
			}
			@media (width < 782px) {
				overflow: scroll;
				overflow-x: scroll;
				overflow-y: hidden;
				scroll-snap-type: x proximity;
				padding-bottom: 20px;
				&::-webkit-scrollbar {
					width: 2px;
					height: 2px;
					background-color: #d2d2d2;
				}
				&::-webkit-scrollbar-thumb {
					background: #212427;
				}
			}
			.filter-list {
				--filter-list--font-size: clamp(1.75rem, 0.3438rem + 4.5vw, 2.875rem);
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				@media (width < 782px) {
					flex-wrap: nowrap;
					
				}
				.filter-label {
					font-family: var(--wp--preset--font-family--graphik);
					font-size: var(--filter-list--font-size); // var(--wp--custom--heading-3--typography--font-size);
					font-style: normal;
					font-weight: 800;
					line-height: 1.15;
					border: 0 none;
					background-color: transparent;
					padding: 0;
					color: var(--wp--preset--color--custom-grey);
				}
				&:not(:has(input:checked)) {
					.filter-label {
						color: var(--wp--preset--color--custom-red);
					}
				}
				label {
					&:has(input:checked) {
						color: var(--wp--preset--color--custom-red);
					}
					@media (hover: hover) {
						&:hover {
							color: var(--wp--preset--color--custom-red);
							transition: color 0.2s;
						}
					}
					color: var(--wp--preset--color--custom-grey);
					font-family: var(--wp--preset--font-family--graphik);
					font-size: var(--filter-list--font-size);
					// font-size: var(--wp--custom--heading-3--typography--font-size);
					font-style: normal;
					font-weight: 800;
					line-height: 1.15;
					display: flex;
					flex-wrap: nowrap;
					transition: color 0.3s;
					white-space: nowrap;
					&::before {
						content: "\\";
						margin-left: clamp(0.5rem, 0.1875rem + 1vw, 0.75rem);
						margin-right: clamp(0.5rem, 0.1875rem + 1vw, 0.75rem);
						color: var(--wp--preset--color--custom-grey);
						font-weight: 600;
						position: relative;
						top: 6px;
					}
					input {
						display: none;
					}
				}
			
			}
			// .filter-dropdown {
			// 	min-width: 250px;
			// 	position: relative;
			// 	border: 0 none;
				
			// 	&::after {
			// 		content: "";
			// 		width: 64px;
			// 		height: 3px;
			// 		background: var(--wp--preset--color--custom-red);
			// 		position: absolute;
			// 		top: 100%;
			// 		left: 0;
			// 	}
			// 	.filter-label {
			// 		font-size: 0;
			// 		flex-direction: row-reverse;
			// 		padding-left: 0;
			// 		padding-bottom: 1px;
			// 		&::after {
			// 			width: 28px;
			// 			height: 29px;
			// 			background: var(--wp--preset--color--custom-red);
			// 			clip-path: path("M.04541.234375h9.850586l4.69043,14.916016L19.22998.234375h8.724609l-9.005859,24.53125h-9.897461L.04541.234375Z");
			// 		}
			// 	}
			// 	.dropdown {
			// 		label {
			// 			font-family: var(--wp--preset--font-family--graphik);
			// 			font-size: var(--wp--custom--heading-6--typography--font-size);
			// 			font-weight: 600;
			// 			letter-spacing: 0;
			// 			line-height: 1.1em;
			// 			text-transform: uppercase;
			// 		}
			// 	}
			// }
		}
	}
	.wp-block-scm-live-posts {
		.post-grid {
			grid-template-columns: 1fr;
			gap: 48px 24px;
			@media (min-width: 782px) {
				grid-template-columns: 1fr 1fr; 
			}
			body.single-project & {
				grid-template-columns: repeat(3, 1fr);
				gap: 1rem;
			}
			& > .post-card {
				@media (width < 782px) {	
					display: flex;
					flex-direction: column-reverse;

				}
				.post-image {
					position: relative;
					// background: var(--wp--preset--color--custom-off-white);
					animation-duration: 1.8s;
					animation-fill-mode: forwards;
					animation-iteration-count: infinite;
					animation-name: placeHolderShimmer;
					animation-timing-function: linear;
					background: #f6f7f8;
					background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
					background-size: 1000px 640px;
					@media (hover: hover) {
						&:hover {
							.post-excerpt {
								opacity: 1;
							}
						}
					}
					.post-excerpt {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						background: rgba(255, 0, 0, 0.9);
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						z-index: 2;
						transition: opacity 0.2s;
						opacity: 0;
						pointer-events: none;
						span {
							width: 190px;
							text-align: center;
							font-weight: 500;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							gap: 28px;
							&::before,
							&::after {
								content: "";
								width: 19px;
								height: 12px;
								background: #fff;
								display: block;
								clip-path: path("M18.665771,6.000488l-5.709961,5.709961-.707031-.707031,4.50293-4.50293H.334229v-1h16.417603L12.248779.996582l.707031-.707031,5.709961,5.710938Z");
							}
							&::before {
								opacity: 0;
							}
						}
					}
					img {
						aspect-ratio: 1.6187;
						display: block;
						object-fit: cover;
					}
				}
				.post-content {
					padding: 10px 0 0;
					.taxonomy-terms {
						margin: 0;
						font-size: 0.6875rem;
						line-height: 1.46em;
						font-weight: 500;
						font-family: var(--wp--preset--font-family--basel-grotesk);
						color: #cccccc;
						letter-spacing: 0.035em;
						text-transform: uppercase;
					}	
					.post-excerpt {
						display: none;
					}
					.post-title {
						margin: 1px 0 18px;
						font-weight: 800;
						@media (width < 782px) {	
							margin-bottom: 12px;
						}
						a {
							text-decoration: none;
						}
					}
				}
				body:not(.single) & {
					&:nth-child(3) {
						position: relative;
						&::before {
							content: "";
							background-color: var(--wp--preset--color--custom-red);
							position: absolute;
							left: 50%;
							top: 0;
							bottom: 0;
							width: 100vw;
							transform: translate(-50%, 0);
							z-index: 0;
						}
						* {
							color: #fff;
							position: relative;
							z-index: 1;
						}
						.post-image {
							.post-excerpt {
								position: absolute;
								z-index: 10;
							}
							img {
								aspect-ratio: 1.06;
								object-fit: cover;
							}
						}
						.post-excerpt {
							display: block;
							font-weight: 500;
							max-width: 50%;
						}
						@media (width < 782px) {	
							display: flex;
							flex-direction: column-reverse;
							.post-content {
								display: flex;
								flex-direction: column;
								.taxonomy-terms {
									margin-top: 26px;
									order: 0;
								}
								.post-title {
									order: 1;
									margin: 1px 0 6px
								}
								.post-excerpt {
									order: 2;
									margin-top: 12px;
									margin-bottom: 20px;
								}
							}
						}
						@media (width > 782px) {	
							grid-column: span 2;
							// background-color: var(--wp--preset--color--custom-red);
							display: grid;
							grid-template-columns: 1fr 1fr;
							gap: 24px;
							padding-top: 1.5rem;
							
							.post-image {
								grid-area: 1 / 2 / 2 / 3;
								
							}
							.post-content {
								display: grid;
								grid-template-columns: 2fr 3fr;
								grid-template-rows: 1fr auto;
								padding-bottom: 1.5rem;
								padding: 0 0 2rem;
								.post-excerpt {
									max-width: 220px;
								}
								.post-title {
									font-size: var(--wp--custom--heading-2--large--typography--font-size); // calc(2.48 * var(--wp--custom--heading-5--typography--font-size));
									line-height: 0.9em;
									grid-area: 2 / 1 / 3 / 3;
									margin-bottom: 0;
								}
								.taxonomy-terms {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
	.wp-block-scm-live-more {
		margin: 5.3rem 0 4.2rem;
		.live-posts-more {
			.load-more-btn {
				border: 0 none;
				font-family: var(--wp--preset--font-family--basel-grotesk);
				font-size: var(--wp--preset--font-size--medium);
				padding: 0;
				background-color: transparent;
				position: relative;
				overflow: hidden;
				color: var(--wp--preset--color--custom-grey);
				transition: all 0.2s;
				@media (hover: hover) {
					&:hover {
						color: var(--wp--preset--color--custom-charcoal);
						&::after {
							transform: translate(0, 0);
						}
					}
				}
				&::after {
					content: "";
					width: 100%;
					height: 1px;
					background: var(--wp--preset--color--custom-charcoal);
					position: absolute;
					left: 0;
					bottom: 0;
					transition: all 0.2s;
					transform: translate(-100%, 0);
				}
			}
			& > p {
				display: none;
			}
		}
	}

	&[posttype="project"][limit="3"] {
		@media( width < 782px ) {
			
			// & > div {
			// 	padding-left: var(--wp--style--root--padding-right);
			// 	padding-right: var(--wp--style--root--padding-right);
			// }
			.post-grid {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 1.5rem;
				overflow: scroll;
				overflow-x: scroll;
				overflow-y: hidden;
				scroll-snap-type: x proximity;
				padding-bottom: 20px;
				&::-webkit-scrollbar {
					width: 2px;
					height: 2px;
					background-color: #d2d2d2;
				}
				&::-webkit-scrollbar-thumb {
					background: #212427;
				}
				.post-card {
					min-width: min(80vw, 350px);
					width: min(80vw, 350px);
					scroll-snap-align: start;
				}
				.post-card {}
			}
		}
	}
}