.wp-block-table {
	table {
		td {
			border: 0 none;
			border-bottom: 1px solid;
			padding: 0.25em;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
}