.wp-block-group {
	&.is-style-clip-bg-top-right {
		clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
		.single-project main & {
			clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
		}
	}
	&.is-style-clip-bg-top-left {
		clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
		.single-project main & {
			clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
		}
	}
	&.is-style-clip-bg-bottom-right {
		clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
	}
	&.is-style-clip-bg-bottom-left {
		clip-path: polygon(0% 0, 100% 0, 100% 100%, 30% 100%);
	}
	&.center-line {
		position: relative;
		& > * {
			position: relative;
			z-index: 10;
		}
		&::before {
			content: "";
			width: 10px;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, 0);
			background: var(--wp--preset--color--custom-red);
		}
	}
	&.is-style-clip-bg-top-right,
	&.is-style-clip-bg-top-left,
	&.is-style-clip-bg-bottom-right,
	&.is-style-clip-bg-bottom-left {
		&:has(>.negative-margin) {
			img {
				--negative-margin: clamp(0.75rem, -0.0313rem + 2.5vw, 1.375rem);
				margin-left: calc(-1 * var(--negative-margin)) !important;
				margin-right: calc(-1 * var(--negative-margin)) !important;
				max-width: calc(100% + (2 * var(--negative-margin)));
			}
		}
	}
	&.related-projects {
		h4.post-title {
			font-size: var(--wp--custom--heading-5--large--typography--font-size);
			margin-top: 0;
		}
	}
	&.results-stats {
		& > .wp-block-group {
			& > .wp-block-group {
				& > * {
					@media (width < 600px) { 
						width: 100%;
					}
				}
			}
		}
	}
	&.project-attributes {
		@media (width < 782px ) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 1.8rem;
			& > * {
				max-width: 100%;
				margin: 0 0 !important;
			}
		}
	}
	&:has(+ .wp-block-buttons.expanded-read-more) {
		& > * {
			&:not(:first-child) {
				display: none;
			}
			&:first-child {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 10;
				overflow: hidden;
				@media (width < 600px) {
					-webkit-line-clamp: 5;
				}
			}
		}
	}
}
