.wp-block-template-part {
	&:is(header) {
		position: sticky;
    top: var(--wp-admin--admin-bar--height, 0px);
		margin: 0;
		background: #fff;
		z-index: 9999;
	}
	&.navigation-modal {
		--nav--icon--color: #fff;
		--nav--height: calc(100dvh - var(--wp-admin--admin-bar--height, 0px));
		&:not(.block-editor-block-list__block) {
			position: fixed;
			top: var(--wp-admin--admin-bar--height, 0px);
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10000;
			display: none;
			height: var(--nav--height);
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		}
		.nav-open & {
			// transform: translate(0, 0);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		.is-loaded & {
			display: block;
			transition: clip-path 0.3s;
		}
		& > .wp-block-group > .wp-block-group {
			min-height: var(--nav--height);
		}
		a {
			text-decoration: none;
		}
		nav.wp-block-navigation {
			.wp-block-navigation__container {
				.wp-block-navigation-item {
					& > a {
						@media( hover: hover ) {
							transition: all 0.2s; // cubic-bezier(0.6, -0.28, 0.74, 0.05);
							&:hover {
								transform: translate(20px, 0);
							}
						}
					}
				}
			}
		}
	}
	&:is(footer) {
		p {
			line-height: 1.2em;
		}
		nav a {
			line-height: 1.2em;
		}
	}
}

// header {
// 	// & > .wp-block-group {
// 	// 	padding-left: var(--wp--custom--spacing--outer);
// 	// 	padding-right: var(--wp--custom--spacing--outer);
// 	// }
// }



// Navigation break point to 1000px
// @media ( min-width: 1000px ) {
// 	.wp-block-navigation__responsive-container-open:not(.always-shown) {
// 		display: none !important;
// 	}
// 	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
// 		display: block !important;
// 	}
// }
// @media ( min-width: 600px ) {
// 	.wp-block-navigation__responsive-container-open:not(.always-shown) {
// 		display: flex;
// 	}
// 	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
// 		display: none;
// 	}
// }

// footer.wp-block-template-part {
// 	margin-block-start: 0;
// 	& > .wp-block-group {
// 	}
// }