.wp-block-group {
	&.is-style-clip-bg-top-right {
		clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
		.single-project & {
			clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
		}
	}
	&.is-style-clip-bg-top-left {
		clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
		.single-project & {
			clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);
		}
	}
	&.is-style-clip-bg-bottom-right {
		clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
	}
	&.is-style-clip-bg-bottom-left {
		clip-path: polygon(0% 0, 100% 0, 100% 100%, 30% 100%);
	}
}