.wp-block-markscon-teams {
	min-height: 100px;
	position: relative;
	.slide-in-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(-1 * var(--wp--style--root--padding-right));
		width: 100vw;
		overflow: hidden;
		pointer-events: none;
		@media (min-width: 600px) { 
			left: 50%;
			width: 50vw;
		}
		.slide-in-outer {
			background: var(--wp--preset--color--custom-grey);
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			transform: translate(100%, 0);
			padding: 2rem;
			transition: all 0.2s;
			overflow: scroll;
		}
		&.is-open {
			pointer-events: all;
			.slide-in-outer {
				transform: translate(0, 0);
			}
		}
	}
	.team-members {
		list-style: none;
		padding-left: 0;
		@media (width < 600px) {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 1.5rem;
			overflow: scroll;
			overflow-x: scroll;
			overflow-y: hidden;
			scroll-snap-type: x proximity;
			padding-bottom: 40px;
			&::-webkit-scrollbar {
				width: 2px;
				height: 2px;
				background-color: #d2d2d2;
			}
			&::-webkit-scrollbar-thumb {
				background: #212427;
			}
			.team-member {
				min-width: 238px;
				width: 238px;
				scroll-snap-align: start;
			}
		}
		@media (min-width: 600px) { 
			display: grid;
			gap: var(--wp--preset--spacing--30);
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@media (min-width: 782px) { 
			gap: var(--wp--preset--spacing--40);
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
		@media (min-width: 1100px) { 
			gap: var(--wp--preset--spacing--50);
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		.team-member {
			position: relative;
			.team-member-expand {
				background-color: transparent;
				border: 0 none;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
			.post-image {
				img {
					max-width: 100%;
					height: auto;

				}
			}
			.post-content {
				margin: 0.5rem 0;
				display: flex;
				flex-direction: column;
				gap: 0;
				h6 {
					line-height: 1.1;
					margin: 0;
					font-size: 0.88rem;
					font-style: normal;
					font-weight: 900;
				}
			}
		}
	}
	.slider-menu {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 1.5rem;
		.close-slider {
			border: 0 none;
			background: transparent; 
			padding: 0;
			font-family: var(--wp--preset--font-family--basel-grotesk);
			font-size: 0.8125rem;
			font-weight: 900;
			text-transform: uppercase;
		}
	}
}