.wp-block-columns {
	.wp-block-column {
		@media (max-width: 781px) {
			&:empty {
				display: none;
			}
		}
	}
	&.is-style-stacked-reverse {
		@media (max-width: 781px) {
			flex-direction: column-reverse;
		}
	}
}